body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.page-title {
  font-family: 'Bangers', sans-serif;
  font-size: 3rem;
  text-align: center;
}

/*--Main--*/
.app-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}
.sketch-container {
  display: flex;
  height: 50vh;
  border: 5px solid #76e3eb;
  flex-wrap: wrap;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.square {
  width: 6.25%;
  border: 1px solid #7c8daf;
  border-radius: 1px;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}